<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                  
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col" class="text-center">#</th>
                          <th scope="col" class="text-center">صورة البانر</th>
                          <th scope="col" class="text-center">إعدادات</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let banner of banners;let i = index;">
                          <th scope="row" class="text-center">{{ i + 1 }}</th>
                          <td class="text-center"><img src={{banner.imagePath}} height="50px" width="50px"> </td>
                          <td class="text-center">
                            <i class="fas fa-edit text-info" style="cursor: pointer;" (click)="onEditBanner(banner)"></i>
                            |
                            <i class="fas fa-trash-alt text-danger" style="cursor: pointer;" (click)="onDeleteBanner(banner.id)"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>